@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
/* Set all font to Roboto */
html {
    font-family: 'Roboto', sans-serif;
}

/* Reset all margins and padding in the page */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #7FFFD4;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    width: 100%;
}

.navbar-item {
    margin-left: 20px;
    margin-right: 10px;
}

.navbar-item-right {
    background-color: #7FFFD4;
    margin-left: auto;
    margin-right: 35px;
}

.link {
    text-decoration: none; 
    color: black;
}

/* Use this to center a div */
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-form {
    background-color: #F0F0F0;
    display: flex;
    flex-direction:column;
    padding: 60px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5%;
}

.login-form > h2 {
    text-align: center;
    margin-bottom: 10px;
}

.login-form > label {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.login-form > input {
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    padding: 8px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.login-form > input[type="submit"] {
    margin-top: 30px;
    background-color: burlywood;
    border: 1px solid black;
}

.posts {
    max-width: 600px;
    margin: 30px auto 90px auto;
}

.post {
    border: 1px solid gray;
    border-color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 25px 0px 25px 0px;
    background-color: #F0F0F0;
}

.post > * {
    margin-bottom: 15px;
}

.post-content {
    text-align: justify;
    text-justify: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #7FFFD4;
    padding: 20px 0px 20px 0px;
}

.background {
    width: 100%; 
}
.background-image {
    max-height: 500px;
    height: 70%;
    width: 100%;
}

.about-content {
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight:500;
    font-style: italic;
    margin: 20px auto 20px auto;
}

.card {
    width: 768px;
    display: flex;
    flex-direction: row;
    margin: 50px auto 90px auto;
    border: 1px solid black;
    padding: 20px;
    background-color: #F0F0F0;
}

.sample-image {
    max-width: 300px;
    border-radius: 50%;
}

.card-text {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
    text-align: justify;
    width: 100%;
}